:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-text-color: rgb(0, 0, 0);
    --main-button-bg-color: rgb(255, 255, 255);
    --main-button-text-color: rgb(0, 0, 0);
    --button-disabled-bg-color: rgba(21, 101, 192, 0.3);
    --button-disabled-text-color: rgba(255, 255, 255, 0.3);

    /* Blue shades from techlab website */
    --shade-a: rgba(64, 132, 255, 1);
    --shade-b: rgba(0, 104, 222, 1);
    --shade-c: rgba(0, 77, 190, 1);
    --shade-d: rgba(0, 53, 158, 1);
    --shade-e: rgba(0, 31, 128, 1);


    /* Extracted using gimp, apperently not the same as above */
    --footer-shade-top: rgba(103, 144, 247, 1);
    --footer-shade-mid: rgba(76, 94, 214, 1);
    --footer-shade-bot: rgba(59, 67, 184, 1);
    /* Same for the the supposudly --shade-a at 50% opacity */
    --shade-button-outline: rgba(76, 94, 214, 0.5);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Main grid container for positioning the layout */
#main-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 10vh);
    place-items: center;
}

#fullscreen-request {
    /* grid-area = start-row / start-column / How many rows right / How many cols down */
    grid-area: 1 / 1 / span 1 / span 1;
    margin: 1em;
    text-align: center;
    cursor: zoom-in;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: var(--main-button-bg-color);
    font-size: medium;
    border-radius: 6px;
    outline: var(--shade-button-outline) solid 10px;
}

/* Container for "Vad jag hörde:"*/
.feedback-container {
    grid-area: 1 / 4 / span 2 / span 4;
    text-align: center;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: var(--main-bg-color);
    font-size: xx-large;
    min-height: 3em;
}

#hint {
    font-size: small;
    font-style: italic;
    padding-bottom: 2em;
}



/* Holds answering buttons and text */
.interface {
    grid-area: 5 / 1 / span 2 / span 10;
    width: 100%;
    text-align: center;
    display: grid;
    place-items: center;
}



/* Hides some buttons on start */

#answer-container {
    display: none;
    place-items: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 0.5em;
    width: 70%;
    min-width: 20rem;
    max-width: 30rem;
    background-color: var(--shade-button-outline);
}

.width-70 {
    width: 70%;
}

.width-100 {
    width: 100%;
}

#speak-container {
    padding-bottom: 1em;
}

#canvasBtn {
    display: none;
}


/* Removes default styling on buttons and input[type=button] */

button,
input[type=button] {
    display: inline-block;
    width: 100%;
    padding: 0.8em 1.8em;
    margin: 0 0.8em 0.8em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 0.5em;
    font-size: x-large;
    font-weight: bolder;
    color: var(--main-button-text-color);
    background-color: var(--main-button-bg-color);
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    text-align: center;
}

/* Disabled button style: https://ux.stackexchange.com/questions/50834/how-to-make-a-button-look-disabled */
button:disabled,
input[type=button]:disabled {
    background: var(--button-disabled-bg-color);
    color: var(--button-disabled-text-color);
}

button:hover {
    background-color: var(--shade-a);
    cursor: pointer;
}

/* The initial speak button */
#start-wrapper {
    width: 100%;
    min-width: 15rem;
}

#speak {
    width: 70%;
    min-width: 20rem;
    max-width: 30rem;
    outline: var(--shade-button-outline) solid 1rem;
}


/* Position the image under everything and somewhat in the middle  */
#filler-image {
    display: none;
    width: 600px;
    height: 400px;
    margin-top: -200px;
    margin-left: -300px;
}

/* https://www.w3schools.com/howto/howto_css_modals.asp
 * The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: var(--main-bg-color);
    /* Fallback color */
    background-color: var(--main-bg-color);
    /* Black w/ opacity */
}

.modal-content {
    background-color: var(--main-bg-color);
    margin: auto;
    height: 100%;
    /* 15% from the top and centered */
    display: flex;
    place-content: center;
    padding: 20px;
    width: fit-content;
    /* Could be more or less, depending on screen size */
}


/* Video modal close button */

.close {
    color: var(--main-text-color);
    float: right;
    font-size: 32px;
    font-weight: bolder;
    padding-left: 0.3em;
    margin-top: -0.3em;
}

/* Sound wave animation
** https://codepen.io/WebKitCoding/pen/MWKQKKZ
*/

#microphone-listening {
    width: 100%;
    height: 70px;
    display: none;
    align-items: center;
    place-content: center;
}

.stroke {
    display: block;
    position: relative;
    background: var(--main-button-small-color);
    height: 100%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 2s linear reverse infinite;
}

@keyframes animate {
    0% {
        height: 20%;
        background: var(--shade-e)
    }

    50% {
        height: 100%;
        background: var(--shade-a)
    }

    100% {
        height: 20%;
        background: var(--shade-e)
    }
}


.stroke:nth-child(1) {
    animation-delay: 0.0s;
}

.stroke:nth-child(2n+0) {
    animation-delay: 0.4s;
}

.stroke:nth-child(3n+0) {
    animation-delay: 0.8s;
}

/* Footer style */
footer {
    position: fixed;
    /*bottom: 0; some body margin???? */
    bottom: -5px;
    width: 100%;
    overflow: hidden;
    z-index: -99;
}

.footer-bot {
    fill: var(--footer-shade-bot);
}

.footer-mid {
    fill: var(--footer-shade-mid);
}

.footer-top {
    fill: var(--footer-shade-top);
}

.app-language-container {
        /* grid-area = start-row / start-column / How many rows right / How many cols down */
        grid-area: 1 / 10 / span 1 / span 1;
}

/** Language toogle switch from: https://www.tutorialstonight.com/css-toggle-switch-with-text.php */
.toggle {
    --width: 80px;
    --height: calc(var(--width) / 2);
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  /*I hid them, muhaha*/
  .toggle .labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #000000;
    background-image: url("media/Flag_of_Sweden.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: calc(var(--width) * -1);
    height: 100%;
    width: 100%;
    color: #000000;
    background-image: url("media/Flag_of_the_United_Kingdom.svg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    transform: translateX(var(--width));
  }

  .toggle input:checked~.labels::before {
    transform: translateX(var(--width));
  }